In [2]:

import findspark
findspark.init()
findspark.find()

'E:\\Spark\\spark-3.0.3-bin-hadoop3.2'

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('sparkinjupyter').getOrCreate()

In [10]:
df = spark.createDataFrame([('bn', 2, 221), ('mb', 3, 330)], ['x', 'y', 'z'])
df = df.withColumn('m', df['y'] * (df['y']))
df.show()

+---+---+---+---+
|  x|  y|  z|  m|
+---+---+---+---+
| bn|  2|221|  4|
| mb|  3|330|  9|
+---+---+---+---+

In [8]:
data = [("Java", "20000"), ("Python", "100000"), ("Scala", "3000")]
columns=["language","users_count"]
df = spark.createDataFrame(data).toDF(*columns)
df.show()

+--------+-----------+
|language|users_count|
+--------+-----------+
|    Java|      20000|
|  Python|     100000|
|   Scala|       3000|
+--------+-----------+

In [7]:
df.select('language').show()

+--------+
|language|
+--------+
|    Java|
|  Python|
|   Scala|
+--------+

In [9]:
df.filter(df.language=='Java').show()

+--------+-----------+
|language|users_count|
+--------+-----------+
|    Java|      20000|
+--------+-----------+

In [23]:
from pyspark.sql.column import Column
df.filter(df.language.startsWith("Java")).show()

TypeError: 'Column' object is not callable

In [5]:
superhero_df=spark.read\
.option("header","true")\
.csv(r"C:\Users\ADMIN\OneDrive\Documents\Spark\Dataset\heroes_information.csv")

In [6]:
superhero_df.show(10)

+---+-------------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
|_c0|         name|Gender|Eye color|             Race|Hair color|Height|        Publisher|Skin color|Alignment|Weight|
+---+-------------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
|  0|       A-Bomb|  Male|   yellow|            Human|   No Hair| 203.0|    Marvel Comics|         -|     good| 441.0|
|  1|   Abe Sapien|  Male|     blue|    Icthyo Sapien|   No Hair| 191.0|Dark Horse Comics|      blue|     good|  65.0|
|  2|     Abin Sur|  Male|     blue|          Ungaran|   No Hair| 185.0|        DC Comics|       red|     good|  90.0|
|  3|  Abomination|  Male|    green|Human / Radiation|   No Hair| 203.0|    Marvel Comics|         -|      bad| 441.0|
|  4|      Abraxas|  Male|     blue|    Cosmic Entity|     Black| -99.0|    Marvel Comics|         -|      bad| -99.0|
|  5|Absorbing Man|  Male|     blue|            Human|   No Hair| 193.0|    Marvel Comics|         -|      bad| 122.0|
|  6|  Adam Monroe|  Male|     blue|                -|     Blond| -99.0|     NBC - Heroes|         -|     good| -99.0|
|  7| Adam Strange|  Male|     blue|            Human|     Blond| 185.0|        DC Comics|         -|     good|  88.0|
|  8|     Agent 13|Female|     blue|                -|     Blond| 173.0|    Marvel Comics|         -|     good|  61.0|
|  9|    Agent Bob|  Male|    brown|            Human|     Brown| 178.0|    Marvel Comics|         -|     good|  81.0|
+---+-------------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
only showing top 10 rows

In [7]:
Race_df = superhero_df.groupby('Skin color').count().show()

+--------------+-----+
|    Skin color|count|
+--------------+-----+
|        orange|    1|
|    blue-white|    1|
|          grey|    5|
|         green|   21|
|        yellow|    2|
|orange / white|    1|
|        silver|    5|
|        purple|    3|
|         white|    7|
|          gray|    1|
|   red / black|    1|
|          pink|    2|
|           red|    9|
|          gold|    3|
|             -|  662|
|         black|    1|
|          blue|    9|
+--------------+-----+

In [4]:
spark

In [15]:
weight_df=superhero_df.sort((superhero_df.Weight).desc()).show(10)

+---+--------------+------+---------+-------+-------------+------+-------------+----------+---------+------+
|_c0|          name|Gender|Eye color|   Race|   Hair color|Height|    Publisher|Skin color|Alignment|Weight|
+---+--------------+------+---------+-------+-------------+------+-------------+----------+---------+------+
|257|      Firelord|     -|    white|      -|       Yellow| 193.0|Marvel Comics|         -|     good|  99.0|
|137|Brother Voodoo|  Male|    brown|  Human|Brown / White| 183.0|Marvel Comics|         -|     good|  99.0|
|489|     Nick Fury|  Male|    brown|  Human|Brown / White| 185.0|Marvel Comics|         -|     good|  99.0|
|655|    Taskmaster|  Male|    brown|  Human|        Brown| 188.0|Marvel Comics|         -|      bad|  99.0|
|279|   Ghost Rider|  Male|      red|  Demon|      No Hair| 188.0|Marvel Comics|         -|     good|  99.0|
|187|   Cottonmouth|  Male|    brown|  Human|        Black| 183.0|Marvel Comics|         -|      bad|  99.0|
|394|     Kraven II|  Male|    brown|  Human|        Black| 191.0|Marvel Comics|         -|      bad|  99.0|
| 41|        Ardina|Female|    white|  Alien|       Orange| 193.0|Marvel Comics|      gold|     good|  98.0|
|131|  Booster Gold|  Male|     blue|  Human|        Blond| 196.0|    DC Comics|         -|     good|  97.0|
|111|         Blade|  Male|    brown|Vampire|        Black| 188.0|Marvel Comics|         -|     good|  97.0|
+---+--------------+------+---------+-------+-------------+------+-------------+----------+---------+------+
only showing top 10 rows

In [16]:
superhero_df.groupby('Publisher').count().show()

+-----------------+-----+
|        Publisher|count|
+-----------------+-----+
|        Rebellion|    1|
|    HarperCollins|    6|
| J. R. R. Tolkien|    1|
|        Star Trek|    6|
|    Marvel Comics|  388|
|        Wildstorm|    3|
|             null|   15|
|       South Park|    1|
|    Sony Pictures|    2|
|      Titan Books|    1|
|      ABC Studios|    4|
|             SyFy|    5|
|     Image Comics|   14|
|Universal Studios|    1|
|   IDW Publishing|    4|
|     NBC - Heroes|   19|
|    Hanna-Barbera|    1|
|        DC Comics|  215|
|        Microsoft|    1|
|    J. K. Rowling|    1|
+-----------------+-----+
only showing top 20 rows

In [17]:
superhero_df.registerTempTable('superhero_table')

In [19]:
sqlContext.sql('select * from superhero_table').show()

NameError: name 'sqlContext' is not defined

In [20]:
from pyspark.sql import SQLContext

In [28]:
sqlContext=SQLContext(spark)

In [29]:
sqlContext.sql("select * from superhero_table").show()

+---+-----------------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
|_c0|             name|Gender|Eye color|             Race|Hair color|Height|        Publisher|Skin color|Alignment|Weight|
+---+-----------------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
|  0|           A-Bomb|  Male|   yellow|            Human|   No Hair| 203.0|    Marvel Comics|         -|     good| 441.0|
|  1|       Abe Sapien|  Male|     blue|    Icthyo Sapien|   No Hair| 191.0|Dark Horse Comics|      blue|     good|  65.0|
|  2|         Abin Sur|  Male|     blue|          Ungaran|   No Hair| 185.0|        DC Comics|       red|     good|  90.0|
|  3|      Abomination|  Male|    green|Human / Radiation|   No Hair| 203.0|    Marvel Comics|         -|      bad| 441.0|
|  4|          Abraxas|  Male|     blue|    Cosmic Entity|     Black| -99.0|    Marvel Comics|         -|      bad| -99.0|
|  5|    Absorbing Man|  Male|     blue|            Human|   No Hair| 193.0|    Marvel Comics|         -|      bad| 122.0|
|  6|      Adam Monroe|  Male|     blue|                -|     Blond| -99.0|     NBC - Heroes|         -|     good| -99.0|
|  7|     Adam Strange|  Male|     blue|            Human|     Blond| 185.0|        DC Comics|         -|     good|  88.0|
|  8|         Agent 13|Female|     blue|                -|     Blond| 173.0|    Marvel Comics|         -|     good|  61.0|
|  9|        Agent Bob|  Male|    brown|            Human|     Brown| 178.0|    Marvel Comics|         -|     good|  81.0|
| 10|       Agent Zero|  Male|        -|                -|         -| 191.0|    Marvel Comics|         -|     good| 104.0|
| 11|       Air-Walker|  Male|     blue|                -|     White| 188.0|    Marvel Comics|         -|      bad| 108.0|
| 12|             Ajax|  Male|    brown|           Cyborg|     Black| 193.0|    Marvel Comics|         -|      bad|  90.0|
| 13|       Alan Scott|  Male|     blue|                -|     Blond| 180.0|        DC Comics|         -|     good|  90.0|
| 14|      Alex Mercer|  Male|        -|            Human|         -| -99.0|        Wildstorm|         -|      bad| -99.0|
| 15|     Alex Woolsly|  Male|        -|                -|         -| -99.0|     NBC - Heroes|         -|     good| -99.0|
| 16|Alfred Pennyworth|  Male|     blue|            Human|     Black| 178.0|        DC Comics|         -|     good|  72.0|
| 17|            Alien|  Male|        -|  Xenomorph XX121|   No Hair| 244.0|Dark Horse Comics|     black|      bad| 169.0|
| 18| Allan Quatermain|  Male|        -|                -|         -| -99.0|        Wildstorm|         -|     good| -99.0|
| 19|            Amazo|  Male|      red|          Android|         -| 257.0|        DC Comics|         -|      bad| 173.0|
+---+-----------------+------+---------+-----------------+----------+------+-----------------+----------+---------+------+
only showing top 20 rows

In [33]:
sqlContext.sql("select max(Weight) from superhero_table").show()

+-----------+
|max(Weight)|
+-----------+
|       99.0|
+-----------+

In [35]:
superhero_df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Eye color: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Hair color: string (nullable = true)
 |-- Height: string (nullable = true)
 |-- Publisher: string (nullable = true)
 |-- Skin color: string (nullable = true)
 |-- Alignment: string (nullable = true)
 |-- Weight: string (nullable = true)

In [37]:
superhero_df.select(['name','Publisher']).show(10)

+-------------+-----------------+
|         name|        Publisher|
+-------------+-----------------+
|       A-Bomb|    Marvel Comics|
|   Abe Sapien|Dark Horse Comics|
|     Abin Sur|        DC Comics|
|  Abomination|    Marvel Comics|
|      Abraxas|    Marvel Comics|
|Absorbing Man|    Marvel Comics|
|  Adam Monroe|     NBC - Heroes|
| Adam Strange|        DC Comics|
|     Agent 13|    Marvel Comics|
|    Agent Bob|    Marvel Comics|
+-------------+-----------------+
only showing top 10 rows

### adding column

In [49]:
superheroaltered_df = superhero_df.withColumn('Weight+2',superhero_df['Weight']+20)

In [51]:
superheroaltered_df.na.drop().count()

719

In [50]:
superheroaltered_df.count()

734

In [44]:
superheroaltered_df = superheroaltered_df.drop('Weight+2')

In [46]:
superheroaltered_df.withColumnRenamed('name', 'new_name')

DataFrame[_c0: string, new_name: string, Gender: string, Eye color: string, Race: string, Hair color: string, Height: string, Publisher: string, Skin color: string, Alignment: string, Weight: string]

In [27]:
df_salary=spark.read.csv('salary_dataset.csv',header=True, inferSchema=True, nullValue="NA" )

In [28]:
df_salary

DataFrame[name: string, year of experience: double, salary: int, dept: string]

In [67]:
df_salary.na.fill('missing').show(30)

+---------+------------------+-------+
|     name|year of experience| salary|
+---------+------------------+-------+
|    aabid|               1.1|  39343|
|   aabida|               1.3|  46205|
|   aachal|               1.5|  37731|
|   aadesh|                 2|  43525|
|    aadil|               2.2|  39891|
|   aadish|               2.9|  56642|
|  aaditya|                 3|  60150|
|   aaenab|               3.2|  54445|
|  aafreen|               3.2|  64445|
|   aafrin|               3.7|  57189|
|  aaftaab|               3.9|  63218|
|   aaftab|                 4|  55794|
|   aagand|                 4|  56957|
|    aahim|               4.1|  57081|
|    aajad|               4.5|  61111|
|    aajiv|               4.9|  67938|
|aakanksha|               5.1|  66029|
|  missing|               5.3|  83088|
|    aakas|               5.9|  81363|
|   aakash|                 6|  93940|
|    aakib|               6.8|missing|
|    aalam|               7.1|  98273|
|   aalina|               7.9| 101302|
|   aaliya|               8.2| 113812|
|    aamil|               8.7| 109431|
|    aamin|           missing| 105582|
|  missing|           missing| 116969|
|    aamir|               9.6| 112635|
|    aamod|           missing|missing|
|  missing|              10.5| 121872|
+---------+------------------+-------+

In [23]:
df_salary.describe().show()

+-------+-----+------------------+------------------+--------+
|summary| name|year of experience|            salary|    dept|
+-------+-----+------------------+------------------+--------+
|  count|   27|                27|                28|      30|
|   mean| null| 4.837037037037037| 73784.32142857143|    null|
| stddev| null|2.5678707354460255|26706.713065158525|    null|
|    min|aabid|               1.1|            101302|Accounts|
|    max|aamod|               9.6|             98273| Manager|
+-------+-----+------------------+------------------+--------+

In [74]:
df_salary.filter("salary<=50000").select('name','salary').show(30)

+------+------+
|  name|salary|
+------+------+
| aabid| 39343|
|aabida| 46205|
|aachal| 37731|
|aadesh| 43525|
| aadil| 39891|
+------+------+

In [76]:
df_salary.filter((df_salary["salary"]<=50000) | 
                 (df_salary["salary"]>=120000))\
.select('name','salary').show(30)

+------+------+
|  name|salary|
+------+------+
| aabid| 39343|
|aabida| 46205|
|aachal| 37731|
|aadesh| 43525|
| aadil| 39891|
|  null|121872|
+------+------+

In [36]:
df_salary.groupBy('dept').max("salary").show()

+--------+-----------+
|    dept|max(salary)|
+--------+-----------+
|      HR|      98273|
|   Admin|     116969|
|Accounts|      67938|
|      IT|      60150|
| Manager|     121872|
+--------+-----------+