In [63]:
import findspark
findspark.init()
findspark.find()

'E:\\Spark\\spark-3.0.3-bin-hadoop3.2'

In [64]:
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext

In [65]:
spark = SparkSession.builder.appName("Data by Flag").getOrCreate()
sqlContext=SQLContext(spark)

#  Select all the data from the table "Data" where column "Flag" value is set to true.

In [66]:
Data = [(1, "John", True,"replace_this","john"), (2, "Jane", False, "replace_this","jane"), (3, "Bob", True, "replace_this","bob")]
Data_df = spark.createDataFrame(Data, ["ID", "Name", "Flag",'StringA','StringB'])
Data_df.createOrReplaceTempView("Data")
Data_df.show()

+---+----+-----+------------+-------+
| ID|Name| Flag|     StringA|StringB|
+---+----+-----+------------+-------+
|  1|John| true|replace_this|   john|
|  2|Jane|false|replace_this|   jane|
|  3| Bob| true|replace_this|    bob|
+---+----+-----+------------+-------+

In [67]:
df_selected = sqlContext.sql("select * from Data where Flag = True")
df_selected.show()

+---+----+----+------------+-------+
| ID|Name|Flag|     StringA|StringB|
+---+----+----+------------+-------+
|  1|John|true|replace_this|   john|
|  3| Bob|true|replace_this|    bob|
+---+----+----+------------+-------+

## catch exceptions

In [76]:
def select_data_by_flag(spark, Data):
    try:
        Data_df = spark.read.table(Data)
        df_selected = data_df.filter(data_df.Flag == True)
        return df_selected
    except Exception as e:
        print("Error:", e)
        return None

# Export it to a local file "exported.dat".

In [69]:
import pandas as pd

In [70]:
pandas_df=df_selected.toPandas()

In [71]:
pandas_df.to_csv('export.dat', mode="w")

In [72]:
df = pd.read_csv('export.dat')

## Transform data stored in a local file, set the value of the column "StringA" to the uppercase value of the "StringB" with an appended suffix "_". Save to a local file "transformed.dat"

In [73]:
df['StringA'] = df['StringB'].str.upper() + '_'

In [74]:
df

   Unnamed: 0  ID  Name  Flag StringA StringB
0           0   1  John  True   JOHN_    john
1           1   3   Bob  True    BOB_     bob

In [75]:
df.to_csv('transformed.dat', mode="w")